<!DOCTYPE html>
<html>
  <head>
    <title>document</title>
    <%- include('templates/file') %>
  </head>
  <body>
    <div class="register-box" >
        <form class="form-horizontal" id="registForm" method="POST" action="/users/register">
            <div class="form-group" >
                <label for="username" class="control-label">Username</label>
                <div class="">
                    <input  class="form-control" id="username" placeholder="username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword1" class="">Password</label>
                <div class="">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password1">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="">Confirm Password</label>
                <div class="">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password2">
                </div>
            </div>
            <div class="form-group">
                <div class="offset-8 col-4">
                    <a href="/login">已有账号</a>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-3 col-6">
                    <button type="submit" class="btn btn-primary ">Sign up</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        var $username = $('#username');
        var $password1 = $('#inputPassword1');
        var $password2 = $('#inputPassword2');
        $('#registForm').submit(function(){
            if($username.val().trim()===""||$password1.val().trim()===""){
                alert("用户名或密码为空");
                return false;
            }
            if($password1.val().trim()!=$password2.val().trim()){
                alert("两次密码不一致");
                return false;
            }
        }) 
    </script>
  </body>
</html>
