<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <% for(i=0;i<breadcru.length-1;i++) {%>
            <li class="breadcrumb-item"><a href="<%= breadcru[i].link %>"><%= breadcru[i].title %></a></li>
        <% }%>
        <li class="breadcrumb-item active" aria-current="page"><%= breadcru[breadcru.length-1].title%></li>
    </ol>
  </nav>